doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/css/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/custom-bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/charts.css')
	body(class='layout')
		block content
